/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

.body {
    min-height: 100vh;
    background-color: white;
}

/* Header */

.header {
    width: 100%;
    background-color: black;
    border-bottom: 1px solid yellow;
    height: 101px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.header .header__contenedor {
    width: 300px;
    aspect-ratio: 3/1;
    margin: 0px 30px 0px 30px;
    overflow: hidden;
}

.header .header__contenedor .contenedor__logo {
    width: 100%;
    aspect-ratio: 3/1;
    object-fit: cover;
    scale: 2;
}

/* Main */

.main {
    color: white;
    background-color: black;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main .titulo {
    padding: 30px;
    font-size: 48px;
    text-align: center;
}

.main .main__contenedor {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.main .main__contenedor .contenedor__clases {
    text-align: center;
    background-color: black;
    width: 300px;
    aspect-ratio: 1/2;
    margin: 0px 15px 30px 15px;
    border-radius: 15px;
    border: 2px solid yellow;
    overflow-y: scroll;
    box-shadow: 5px 5px 5px yellow;
}

.main .main__contenedor .contenedor__clases .clases {
    font-size: 36px;
    margin: 20px;
    text-decoration: underline;
    font-style: italic;
}

.main .main__contenedor .contenedor__clases .comision {
    font-size: 20px;
    margin: 20px 0px 20px 0px;
}

.main .main__contenedor .contenedor__clases .texto {
    text-align: justify;
    margin: 0px 20px 20px 10px;
    font-size: 20px;
}

/* Footer */

.footer {
    border-top: 1px solid yellow;
    background-color: black;
    height: 101px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.footer .footer__contenedor {
    width: 100%;
    width: 300px;
    aspect-ratio: 3/1;
    margin: 0px 30px 0px 30px;
    overflow: hidden;
}

.footer .footer__contenedor .contenedor__logo {
    width: 100%;
    aspect-ratio: 3/1;
    object-fit: cover;
    scale: 2;
}

/* The End, by lubiano83 */